.content-wrap {
  padding: initial;
  background: initial;
  box-shadow: initial;
  border-radius: initial;
}
.post-block {
  padding: 40px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
  border-radius: initial;
}
.sidebar-inner , .header-inner{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
  border-radius: initial;
}
#posts > article + article .post-block {
  margin-top: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  border-radius: initial;
}
.comments {
  padding: 40px;
  margin: initial;
  margin-top: 12px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  border-radius: initial;
}
.posts-expand {
  padding-top: initial;
}
.post-nav-divider {
  width: 4%;
}
.post-nav-item {
  width: 48%;
}
.post-eof,
.post-spread {
  display: none !important;
}
.pagination {
  margin: 12px 0 0;
  border-top: initial;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  border-radius: initial;
  padding: 10px 0 10px;
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  margin-bottom: initial;
  top: initial;
}
.main {
  padding-bottom: initial;
}
.footer {
  bottom: auto;
}
.post-header h1,
.post-header h2 {
  margin: initial;
}
.posts-expand .post-title-link {
  line-height: inherit;
}
.posts-expand .post-title {
  font-size: 1.7em;
}
.post-body h1 {
  font-size: 1.6em;
  border-bottom: 1px solid #eee;
}
.post-body h2 {
  font-size: 1.45em;
  border-bottom: 1px solid #eee;
}
.post-body h3 {
  font-size: 1.3em;
  border-bottom: 1px solid #eee;
}
.post-body h4 {
  font-size: 1.2em;
  border-bottom: 1px dotted #eee;
}
.post-body h5 {
  font-size: 1.07em;
}
.post-body h6 {
  font-size: 1.03em;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    padding: 10px;
  }
  .posts-expand {
    margin: initial;
  }
  .posts-expand .post-button {
    margin-top: 20px;
  }
  .post-block {
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    border-radius: initial;
  }
  #posts > article + article .post-block {
    margin-top: 10px;
  }
  .comments {
    margin-top: 10px;
    padding: 10px 20px;
  }
  .pagination {
    margin: 10px 0 0;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    padding: 8px;
  }
  .posts-expand {
    margin: initial;
  }
  .posts-expand .post-button {
    margin-top: 12px;
  }
  .posts-expand img {
    padding: initial !important;
  }
  .post-block {
    padding: 12px;
    min-height: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    border-radius: initial;
  }
  #posts > article + article .post-block {
    margin-top: 8px;
  }
  .comments {
    margin-top: 8px;
    padding: 0 12px;
  }
  .pagination {
    margin: 8px 0 0;
  }
}
.site-author-image {
  border-radius: 100%;
  padding: 2px;
  border: 2px dashed #fff;
  animation: cycle 2s 0.5s forwards;
  transition: border-radius 2s;
}
.main-inner {
  background: #fff;
  opacity: 0.9;
}
